{# /src/Ipc/ConfigurationBundle/Resources/views/Configuration/creationSite.html.twig #}

{% extends "IpcConfigurationBundle::secondLayout.html.twig" %}

{% block title %}{{ parent() }}Sites{% endblock title %}

{% block title_header %}
    <h1>Gestion des sites <span id='sous_titre' style="font-size:0.8em;"></span></h1>
{% endblock title_header %}


{% block body %}
    {{ parent() }}
    <div class='gestion_site'>
        {% for liste in liste_sites %}
            <table class='table_gestion_site'>
                <tr>
                    <th colspan='9' class='th_title'>Site</th></tr>
                <tr>
                    <th class='mini'>Site courant</th>
                    <th>Intitulé</th>
                    <th class='small'>Nombre d'automates</th>
                    <th class='small'>Code affaire</th>
					<th class='cacher'>LoginFtp</th>
                    <th class='small'>Début d'exploitation</th>
                    <th class='small'>Fin d'exploitation</th>
                    <th class='mini'>Modif.</th>
                    <th class='mini'>Supp.</th>
                </tr>
                <tr>
                    {% if liste.siteCourant == 1 %}
                        <td class='mini centrer'><input type='radio' name='sitec' checked value={{ liste.id }} /></td>
                    {% else %}
                        <td class='mini centrer'><input type='radio' name='sitec' value={{ liste.id }} /></td>
                    {% endif %}
                    <td class='centrer'>{{ liste.intitule }}</td>
                    <td class='small centrer'>{{ liste.localisations|length }}</td>
                    <td class='small centrer'>{{ liste.affaire }}</td>
					<td class='cacher'>{{ liste.loginFtp }}</td>
                    <td class='small centrer'>{% if liste.debutExploitation %}{{ liste.debutExploitation|date("Y/m/d") }}{% endif %}</td>
                    <td class='small centrer'>{% if liste.finExploitation %}{{ liste.finExploitation|date("Y/m/d") }}{% endif %}</td>
                    <td class='mini centrer'><input type='radio' name='modifSite' value={{ liste.id }} /></td>
                    <td class='mini centrer'><input type='radio' name='suppSite' value={{ liste.id }} /></td>
                </tr>
                {% if liste.localisations|length > 0 %}
                <tr>
                    <th colspan='9' class='th_subtitle'>Localisation{% if liste.localisations|length > 1 %}s{% endif %}</th></tr>
                <tr>
                    <th class='mini'>Numéro</th>
                    <th>Désignation</th>
                    <th class='small'>Mode</th>
                    <th class='small'>Adresse Ip</th>
					<th class='small'>Adresse Modbus</th>
                    <th class='small'>Login Ftp</th>
                    <th class='mini'>Modif.</th>
                    <th class='mini'>Supp.</th>
                </tr>
                {% for localisation in liste.localisations %}
                    <tr>
                        <td class='mini centrer'>{{ localisation.numeroLocalisation }}</td>
                        <td class='centrer'>{{ localisation.designation }}</td>
                        <td class='small centrer'>{{ localisation.typeGenerateur.description }}</td>
                        <td class='small centrer'>{{ localisation.adresseIp }}</td>
						<td class='small centrer'>{{ localisation.adresseModbus }}</td>
                        <td class='small centrer'>{{ localisation.loginFtp }}</td>
                        <td class='mini centrer'><input type='radio' name='modifLoc' value={{ localisation.id }} /></td>
                        <td class='mini centrer'><input type='radio' name='suppLoc' value={{ localisation.id }} /></td>
                        <td class='cacher'>{{ liste.id }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
            <br />
        {% endfor %}
    </div>
    <br />
    <div id='gestion_creation_site' class='cacher'>
        <div id='ajoutSite' class='cacher'>
            {{ form_start(form,{method:"post",action:path('ipc_createSite')}) }}
				<div class='tableauConfig'>
				 	<div><div>{{ form_label(form.intitule) }}				</div><div>{{ form_widget(form.intitule,{'attr':{'class':'inputText'}}) }}				</div></div>
                    <div><div>{{ form_label(form.affaire) }}				</div><div>{{ form_widget(form.affaire,{'attr':{'class':'inputText'}}) }}				</div></div>
                    <div><div>{{ form_label(form.login_ftp) }}				</div><div>{{ form_widget(form.login_ftp,{'attr':{'class':'inputText'}}) }}				</div></div>
                    <div><div>{{ form_label(form.password_ftp.first) }}		</div><div>{{ form_widget(form.password_ftp.first,{'attr':{'class':'inputText'}}) }}	</div></div>
                    <div><div>{{ form_label(form.password_ftp.second) }}	</div><div>{{ form_widget(form.password_ftp.second,{'attr':{'class':'inputText'}}) }}	</div></div>
                    <div><div>{{ form_label(form.siteCourant) }}			</div><div>{{ form_widget(form.siteCourant) }}											</div></div>
                    <div><div>{{ form_label(form.localisations) }}			</div><div>{{ form_widget(form.localisations) }}										</div></div>
				</div>

                <ul class='localise' data-prototype="&lt;div id=&quot;Contact_Localisations___name__&quot;&gt;<div class='ajoutLoc'><h3>Nouvelle Localisation</h3><table><tr><td>&lt;label for=&quot;Contact_Localisations___name___numeroLocalisation&quot; class=&quot;required&quot;&gt;Numéro de la localisation&lt;/label&gt;</td><td>&lt;input type=&quot;number&quot; id=&quot;Contact_Localisations___name___numeroLocalisation&quot; class=&quot;inputText&quot; name=&quot;Contact[Localisations][__name__][numeroLocalisation]&quot; required=&quot;required&quot; /&gt;</td></tr><tr><td>&lt;label for=&quot;Contact_Localisations___name___adresseIp&quot; class=&quot;required&quot;&gt;Adresse IP&lt;/label&gt;</td><td>&lt;input type=&quot;text&quot; id=&quot;Contact_Localisations___name___adresseIp&quot; class=&quot;inputText&quot; name=&quot;Contact[Localisations][__name__][adresseIp]&quot; required=&quot;required&quot; /&gt;</td></tr><tr><td>&lt;label for=&quot;Contact_Localisations___name___adresseModbus&quot; class=&quot;required&quot;&gt;Adresse Modbus&lt;/label&gt;</td><td>&lt;input type=&quot;text&quot; id=&quot;Contact_Localisations___name___adresseModbus&quot; class=&quot;inputText&quot; name=&quot;Contact[Localisations][__name__][adresseModbus]&quot; required=&quot;required&quot; /&gt;</td></tr><tr><td>&lt;label for=&quot;Contact_Localisations___name___designation&quot; class=&quot;required&quot;&gt;Désignation&lt;/label&gt;</td><td>&lt;input type=&quot;text&quot; id=&quot;Contact_Localisations___name___designation&quot; class=&quot;inputText&quot; name=&quot;Contact[Localisations][__name__][designation]&quot; required=&quot;required&quot; /&gt;</td></tr><tr><td>&lt;label for=&quot;Contact_Localisations___name___typeGenerateur&quot; class=&quot;required&quot;&gt;Mode d&amp;#039;exploitation&lt;/label&gt;</td><td>&lt;select id=&quot;Contact_Localisations___name___typeGenerateur&quot; name=&quot;Contact[Localisations][__name__][typeGenerateur]&quot;&gt;&lt;option value=&quot;VP&quot;&gt;Vapeur&lt;/option&gt;&lt;option value=&quot;ES&quot;&gt;Eau surchauffée&lt;/option&gt;&lt;option value=&quot;SU&quot;&gt;Surchauffeur&lt;/option&gt;&lt;option value=&quot;AC&quot;&gt;Automate des communs&lt;/option&gt;&lt;/select&gt;</td></tr><tr><td>&lt;label for=&quot;Contact_Localisations___name___login_ftp&quot; class=&quot;required&quot;&gt;Login Ftp&lt;/label&gt;</td><td>&lt;input type=&quot;text&quot; id=&quot;Contact_Localisations___name___login_ftp&quot; class=&quot;inputText&quot; name=&quot;Contact[Localisations][__name__][login_ftp]&quot; required=&quot;required&quot; maxlength=&quot;50&quot; /&gt;</td></tr><tr><td>&lt;label for=&quot;Contact_Localisations___name___password_ftp_first&quot; class=&quot;required&quot;&gt;Mot de passe Ftp&lt;/label&gt;</td><td>&lt;input type=&quot;password&quot; id=&quot;Contact_Localisations___name___password_ftp_first&quot; class=&quot;inputText&quot; name=&quot;Contact[Localisations][__name__][password_ftp][first]&quot; required=&quot;required&quot; /&gt;</td></tr><tr><td>&lt;label for=&quot;Contact_Localisations___name___password_ftp_second&quot; class=&quot;required&quot;&gt;Confirmation du mot de passe&lt;/label&gt;</td><td>&lt;input type=&quot;password&quot; id=&quot;Contact_Localisations___name___password_ftp_second&quot; class=&quot;inputText&quot; name=&quot;Contact[Localisations][__name__][password_ftp][second]&quot; required=&quot;required&quot; /&gt;</td></tr></table></div>&lt;/div&gt;">
                </ul>
                {{ form_rest(form) }}
                <input type="hidden" name="valider" value="Valider" />
				{#
                <div class='validationbouton'>
                    <div class='center'>
                        <a href='#' style="height:30px;" onClick="validationFormulaire('formulaireCreation');return false;" ><div class='bouton blue'><div class='bgbouton'>Créer le site</div></div></a>
                        <a href='#' style="height:30px;" onClick="validationFormulaire('annuler');return false;" ><div class='bouton blue'><div class='bgbouton'>Annuler</div></div></a>
                    </div>
                </div>
				#}
            {{ form_end(form) }}
        </div>
        <div id='modifSite' class='cacher'>
            <form name="MyModifSiteForm" action={{ path('ipc_createSite') }} method="post" {{ form_enctype(form) }}>
				<div class='tableauConfig'>
                    <div><div>Intitule				</div><div><input type='text' class='inputText' name='intitule' id='intitule' size='30' />					</div></div>
                    <div><div>Code affaire			</div><div><input type='text' class='inputText' name='affaire' id='affaire' size='10' />					</div></div>
                    <div><div>Login Ftp				</div><div><input type='text' class='inputText' name='loginFtp' id='loginFtp' size='15' />					</div></div>
                    <div><div>Mot de passe			</div><div><input type='password' class='inputText' name='passwordFtp' id='passwordFtp' size='15' />		</div></div>
                    <div><div>Confirmation			</div><div><input type='password' class='inputText' name='confirmation'   id='confirmation' size='15' />	</div></div>
                    <div><div>Début d'exploitation	</div><div><input type='date' class='inputText' name='debutExploitation' id='debutExploitation' size='10' /></div></div>
                    <div><div>Fin d'exploitation	</div><div><input type='date' class='inputText' name='finExploitation' id='finExploitation' size='10' />	</div></div>
                    <div><div>Site Courant			</div><div><input type='checkbox' class='inputText' name='siteCourant' id='siteCourant' disabled /></div></div>
                </div>
                <br />
                <input type="hidden" name='idconf'  id='idconf' />
                <input type="hidden" name="valider" value="Modifier le site" id='submitSite' />
				{#
                <div class='validationbouton'>
                    <div class='center'>
                        <a href='#' style="height:30px;" onClick="validationFormulaire('formulaireModification');return false;" ><div class='bouton blue'><div class='bgbouton'><div id='titreSiteValidation'>Valider</div></div></div></a>
                        <span id="ajoutLoc"><a href='#' style="height:30px;" onClick="validationFormulaire('ajoutLoc');return false;" ><div class='bouton blue'><div class='bgbouton'>Ajouter une localisation</div></div></a></span>
                        <a href='#' style="height:30px;" onClick="validationFormulaire('annuler');return false;" ><div class='bouton blue'><div class='bgbouton'>Annuler</div></div></a>
                    </div>
                </div>
				#}
            </form>
        </div>
        <div id='modifLoc' class='cacher'>
            {{ form_start(form_loc,{method:"post",action:path('ipc_createSite')}) }}
                <div class='tableauConfig' border=2>
                    <div><div>{{ form_label(form_loc.numeroLocalisation) }}	</div><div>{{ form_widget(form_loc.numeroLocalisation,{'attr':{'class':'inputText'}}) }}	</div></div>
                    <div><div>{{ form_label(form_loc.adresseIp) }}			</div><div>{{ form_widget(form_loc.adresseIp,{'attr':{'class':'inputText'}}) }}				</div></div>
                    <div><div>{{ form_label(form_loc.adresseModbus) }}		</div><div>{{ form_widget(form_loc.adresseModbus,{'attr':{'class':'inputText'}}) }}			</div></div>
                    <div><div>{{ form_label(form_loc.designation) }}		</div><div>{{ form_widget(form_loc.designation,{'attr':{'class':'inputText'}}) }}			</div></div>
                    <div><div>{{ form_label(form_loc.typeGenerateur) }}		</div><div>{{ form_widget(form_loc.typeGenerateur) }}										</div></div>
                    <div><div>{{ form_label(form_loc.login_ftp) }}			</div><div>{{ form_widget(form_loc.login_ftp,{'attr':{'class':'inputText'}}) }}				</div></div>
                    <div><div>{{ form_label(form_loc.password_ftp.first) }}	</div><div>{{ form_widget(form_loc.password_ftp.first,{'attr':{'class':'inputText'}}) }}	</div></div>
                    <div><div>{{ form_label(form_loc.password_ftp.second) }}</div><div>{{ form_widget(form_loc.password_ftp.second,{'attr':{'class':'inputText'}}) }}	</div></div>
				</div>
                <br />
                <input type='hidden' name='idconfsite'   id='idconfsite' />
                <input type='hidden' name='idconfloc'   id='idconfloc' />
                <input type="hidden" name="valider" value="Valider" id='submitLocalisation' />
				{#
                <div class='validationbouton'>
                    <div class='center'>
                        <a href='#' style="height:30px;" onClick="validationFormulaire('formulaireModificationLoc');return false;"><div class='bouton blue'><div class='bgbouton'><div id='titreLocValidation'>Modifier</div></div></div></a>
                        <a href='#' style="height:30px;" onClick="validationFormulaire('annuler');return false;" ><div class='bouton blue'><div class='bgbouton'>Annuler</div></div></a>
                    </div>
                </div>
				#}
            {{ form_end(form_loc) }}
        </div>
    </div>
{% endblock body %}

{% block menu_droite %}
    <div id="validation" class='validationbouton'>
        <div class='actions_newSite cacher'>
        	<a href='#' onClick="validationFormulaire('formulaireCreation');return false;" >
				<div class='bouton blue'><div class='bgbouton'>Créer le site</div></div>
			</a>
		</div>
		<div class='actions_modifSite cacher'>
            <a href='#' onClick="validationFormulaire('formulaireModification');return false;" >
                <div class='bouton blue'><div class='bgbouton'>Modifier le site</div></div>
            </a>
        </div>
		<div class='actions_ajoutLoc cacher'>
            <span id="ajoutLoc">
                <a href='#' onClick="validationFormulaire('ajoutLoc');return false;" >
                    <div class='bouton blue'><div class='bgbouton'>Ajouter une localisation</div></div>
                </a>
            </span>
        </div>
		<div class='actions_creerLoc cacher'>
            <a href='#' onClick="validationFormulaire('formulaireModificationLoc');return false;" >
                <div class='bouton blue'><div class='bgbouton'><div>Créer la localisation</div></div></div>
            </a>
        </div>
		<div class='actions_modifLoc cacher'>
			<a href='#' onClick="validationFormulaire('formulaireModificationLoc');return false;">
				<div class='bouton blue'><div class='bgbouton'>Modifier la localisation</div></div>
			</a>
		</div>
        <div class='actions_suppLoc cacher'>
            <a href='#' onClick="validationFormulaire('formulaireModificationLoc');return false;" >
                <div class='bouton red'><div class='bgbouton'><div>Supprimer la localisation</div></div></div>
            </a>
        </div>
		<div class='actions_suppSite cacher'>
            <a href='#' onClick="validationFormulaire('formulaireModification');return false;" >
                <div class='bouton red'><div class='bgbouton'><div>Supprimer le site</div></div></div>
            </a>
        </div>
		<div class='actions_annuler cacher'>
			<a href='#' onClick="validationFormulaire('annuler');return false;" >
				<div class='bouton orange'><div class='bgbouton'>Annuler</div></div>
			</a>
		</div>

        <div class='actions_creerSite'>
            <a href='#' onClick="validationFormulaire('ajoutSite');return false;" >
                <div class='bouton blue'><div class='bgbouton'>{{ "bouton.nouveau"|trans|upper }}</div></div>
            </a>
        </div>
		<div class='actions_retour'>
			<a href='#' onClick="goBack();return false;" >
				<div class='bouton red'><div class='bgbouton'>{{ "bouton.retour"|trans|upper }}</div></div>
			</a>
		</div>
	</div>
{% endblock menu_droite %}

{#
{% block choix_validation %}
    <div id='titreSiteCreation'>
        <div id='validation'>
            <a href='#' class='right' onClick="validationFormulaire('ajoutSite');return false;" ><div class='bouton blue'><div class='bgbouton'>{{ "bouton.nouveau"|trans|upper }}</div></div></a>
            <a href='#' class='right' onClick="goBack();return false;" ><div class='bouton orange'><div class='bgbouton'>{{ "bouton.retour"|trans|upper }}</div></div></a>
        </div>
    </div>
{% endblock choix_validation %}
#}


{% block bodyjavascript %}
    {{ parent() }}

    <script type="text/javascript">
		var $boutonSelection;
        function goBack() {
            var url_intervention = $('#Configurations').attr('href');
            window.location.href = url_intervention;
        }

        // Récupération du div qui contient la collection de tags
        var collectionHolder = $('ul.localise');
        // Ajout d'un lien 'add' une localisation
        var $addLocaliseLink = $('<a href="#" class="green">Ajouter une localisation</a>');
        var $newLinkLi = $('<li></li>').append($addLocaliseLink);
        $(document).ready(function()  {
            $('input[type=radio][name=modifLoc]').val(['0']);
            $('input[type=radio][name=modifSite]').val(['0']);
            $('input[type=radio][name=suppSite]').val(['0']);
            $('input[type=radio][name=suppLoc]').val(['0']);

            $('input:radio').click(function() {
				selectionBoutonsActions($(this).attr('name'), "principal");
                $('#gestion_creation_site').removeClass('cacher');
				$('div.gestion_site').addClass('cacher');
                if (! $("#ajoutSite").hasClass('cacher')) {
                    $("#ajoutSite").addClass('cacher');
                }
                if (! $("#titreSiteCreation").hasClass('cacher')) {
                    $("#titreSiteCreation").addClass('cacher');
                }
                if (($(this).attr('name') == 'modifSite') || ($(this).attr('name') == 'suppSite') || ($(this).attr('name') == 'sitec')) {
                    if (! $("#modifLoc").hasClass('cacher')) {
                        $("#modifLoc").addClass('cacher');
                    }
                    // Récupération des valeurs du site
                    var $siteCourant = $(this).parent().parent().children('td').children('input').attr('checked');
                    var $intitule = $(this).parent().parent().children('td').eq(1).text();
                    var $affaire = $(this).parent().parent().children('td').eq(3).text();
                    var $loginFtp = $(this).parent().parent().children('td').eq(4).text();
                    var $debutExploitation = $(this).parent().parent().children('td').eq(5).text();
                    var $finExploitation = $(this).parent().parent().children('td').eq(6).text();
                    var $idconf = $(this).attr('value');
                    // Inscription des paramètres récupérés dans les champs modifiables
                    document.getElementById('intitule').value = $intitule;
                    document.getElementById('affaire').value = $affaire;
                    document.getElementById('loginFtp').value = $loginFtp;
                    document.getElementById('debutExploitation').value = $debutExploitation;
                    document.getElementById('idconf').value = $idconf;
                    document.getElementById('idconfsite').value = $idconf;
                    if ($siteCourant === 'checked') {
                        document.getElementById('siteCourant').checked = true;
                    } else {
                        document.getElementById('siteCourant').checked = false;
                    }
                    if ($(this).attr('name') == 'sitec') {
                        $('#submitSite').attr('value','Modifsitec');
                        validationFormulaire('ajaxModifSitec');
                    } else {
                        if ($(this).attr('name') == 'modifSite') {
                            // Modification du Titre
							$('#sous_titre').text(': Modification');			//$('#modifSite').children('h1').text('Modification de site');
                            // Modification de l'intitulé du bouton de validation
                            // //$("#titreSiteValidation").text('Modifier le site');
                            // Modification de la valeur du submit
                            $("#submitSite").attr('value','Modifier le site');
                            // Décoche des boutons input de type radio supp
                            $('input[type=radio][name=modifLoc]').val(['0']);
                            $('input[type=radio][name=suppLoc]').val(['0']);
                            $('input[type=radio][name=suppSite]').val(['0']);
                            // Affichage du bouton d'ajout d'une localisation
                            //$("#ajoutLoc").removeClass("cacher");
                        }
                        if ($(this).attr('name') == 'suppSite') {
                            // Modification du Titre
							$('#sous_titre').text(': Suppression');					//$('#modifSite').children('h1').text('Suppression de site');
                            // Modification de l'intitulé du bouton de validation
                            // // $("#titreSiteValidation").text('Supprimer le site');
                            $("#submitSite").attr('value','Supprimer le site');
                            // Décoche des boutons input de type radio modif
                            $('input[type=radio][name=modifLoc]').val(['0']);
                            $('input[type=radio][name=suppLoc]').val(['0']);
                            $('input[type=radio][name=modifSite]').val(['0']);
                            // Cache du bouton d'ajout d'une localisation
                            //$("#ajoutLoc").addClass("cacher");
                        }
                        // Affichage du div de modification d'un paramètre
                        $("#modifSite").removeClass('cacher');
                    }
                } else if (($(this).attr('name') == 'modifLoc') || ($(this).attr('name') == 'suppLoc')) {
                    if (! $("#modifSite").hasClass('cacher')) {
                        $("#modifSite").addClass('cacher');
                    }
                    // Récupération des paramètres de la localisation : Définit sur la page d'affichage des sites & localisations
                    var $numeroLocalisation = $(this).parent().parent().children('td').eq(0).text();
                    var $designation = $(this).parent().parent().children('td').eq(1).text();
                    var $typeGenerateur = $(this).parent().parent().children('td').eq(2).text();
                    var $adresseIp = $(this).parent().parent().children('td').eq(3).text();
					var $adresseModbus = $(this).parent().parent().children('td').eq(4).text();
                    var $loginftpLoc = $(this).parent().parent().children('td').eq(5).text();
                    var $idconfloc = $(this).attr('value');
                    var $idconfsite = $(this).parent().parent().children('td').eq(8).text();
                    // Inscription des paramètres récupérés dans les champs modifiables
                    document.getElementById('Localisation_numeroLocalisation').value = $numeroLocalisation;
                    document.getElementById('Localisation_adresseIp').value = $adresseIp;
					document.getElementById('Localisation_adresseModbus').value = $adresseModbus;
                    document.getElementById('Localisation_designation').value = $designation;
					$('#Localisation_typeGenerateur').find('option:contains("' + $typeGenerateur + '")').attr('selected', 'selected');


                    document.getElementById('Localisation_login_ftp').value = $loginftpLoc;
                    document.getElementById('idconfloc').value = $idconfloc;
                    document.getElementById('idconfsite').value = $idconfsite;
                    if ($(this).attr('name') == 'modifLoc') {
                        // Modification du Titre
						$('#sous_titre').text(': Modification');						// $('#modifLoc').children('h1').text('Modification de localisation');
						// Affichage des boutons 
                        // Modification de l'intitulé du bouton de validation
                        // // $("#titreLocValidation").text('Modifier la localisation');
                        $("#submitLocalisation").attr('value','Modifier la localisation');
                        // Décoche des boutons input de type radio supp
                        $('input[type=radio][name=modifSite]').val(['0']);
                        $('input[type=radio][name=suppSite]').val(['0']);
                        $('input[type=radio][name=suppLoc]').val(['0']);
                    }
                    if ($(this).attr('name') == 'suppLoc') {
                        // Modification du Titre
						$('#sous_titre').text(': Suppression');							//$('#modifLoc').children('h1').text('Suppression de localisation');
                        // Modification de l'intitulé du bouton de validation
                        // //$("#titreLocValidation").text('Supprimer la localisation');
                        $("#submitLocalisation").attr('value','Supprimer la localisation');
                        // Décoche des boutons input de type radio supp
                        $('input[type=radio][name=modifSite]').val(['0']);
                        $('input[type=radio][name=suppSite]').val(['0']);
                        $('input[type=radio][name=modifLoc]').val(['0']);
                    }
                    // Affichage du div de modification d'un paramètre
                    $("#modifLoc").removeClass('cacher');
                }
            });
            // Ajout d'un lien 'delete' à tous les éléments li de formulaire Localisation existant
            collectionHolder.find('li').each(function(){
                addTagFormDeleteLink($(this));
            });
            // Ajoute l'ancre 'ajouter un tag' et li à la balise ul
            collectionHolder.append($newLinkLi);
            $addLocaliseLink.on('click', function(e){
                // Empêche le lien de créer un # dans l'URL
                e.preventDefault();
                // Ajoute un nouveau formulaire Localisation
                addLocaliseForm(collectionHolder, $newLinkLi);
            });
        });

        function validationFormulaire(choix) {
			selectionBoutonsActions(choix, "sous_menu")
            if (choix === 'ajoutSite') {
				$('#sous_titre').text(': Nouveau site');
				$('div.gestion_site').addClass('cacher');
				$('#gestion_creation_site').removeClass('cacher');
                $('#ajoutSite').removeClass('cacher');
            }
            // Lors du choix d'ajout d'une localisation
            // 1 Modification du Label du bouton
            // 2 Modification du Titre du div
            if (choix === 'ajoutLoc') {
                // Modification du Titre
				$('#sous_titre').text(': Ajout de localisation'); 						//$("#modifLoc").children('h1').text('Ajout de localisation');
                // Modification de la valeur du submit
				$('#ajoutLoc').addClass('cacher');
                $("#submitLocalisation").attr('value','Ajouter la localisation');
                $("#modifSite").addClass('cacher');
                $("#modifLoc").removeClass('cacher');
            }
            if (choix === 'annuler') {
                $('#gestion_creation_site').addClass('cacher');

				
				$('div.gestion_site').removeClass('cacher');

                document.getElementById('intitule').value = '';
                document.getElementById('affaire').value = '';
                document.getElementById('loginFtp').value = '';
                document.getElementById('passwordFtp').value = '';
                document.getElementById('confirmation').value = '';
                document.getElementById('debutExploitation').value = '';
                document.getElementById('finExploitation').value = '';
                document.getElementById('idconf').value = 0;
                document.getElementById('Localisation_numeroLocalisation').value = 0;
                document.getElementById('Localisation_adresseIp').value = '';
				document.getElementById('Localisation_adresseModbus').value = 0;
                document.getElementById('idconfloc').value = 0;
                document.getElementById('idconfsite').value = 0;
                // Décoche des boutons input de type radio
                $('input[type=radio][name=modifSite]').val(['0']);
                $('input[type=radio][name=suppSite]').val(['0']);
                $('input[type=radio][name=modifLoc]').val(['0']);
                $('input[type=radio][name=suppLoc]').val(['0']);
                $('#ajoutSite').addClass('cacher');
                $('#modifSite').addClass('cacher');
                $('#modifLoc').addClass('cacher');
                $("#titreSiteCreation").removeClass('cacher');
            }
            if (choix === 'formulaireCreation') {
                attente();
                setTimeout(function() {
                    document.forms['Site'].submit();
                },200);
            }
            if (choix === 'formulaireModification') {
                attente();
                document.getElementById('siteCourant').disabled = false;
                setTimeout(function() {
                    document.forms['MyModifSiteForm'].submit();
                },200);
            }
            if (choix === 'formulaireModificationLoc') {
                attente();
                setTimeout(function() {
                    document.forms['Localisation'].submit();
                },200);
            }
            if (choix === 'ajaxModifSitec') {
                var $idConf = document.getElementById('idconf').value;
                $.ajax({
                    url: "{{ path('ipc_ajax_set_sitec') }}",
                    method: "get",
                    data: 'idconf=' + $idConf
                }).done(function($msg){
                    $('#title').html($msg);
                });
            }
        }

        function addLocaliseForm(collectionHolder, $newLinkLi) {
            // Récupére l'élément ayant l'attribut data-prototype
            var prototype = collectionHolder.attr('data-prototype');
            // Remplace '__name__' dans le HTML du prototype
            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
            // Affiche le formulaire dans la page dans un li, avant le lien 'ajouter une localisation'
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            // Ajout d'un lien de suppression
            addLocaliseFormDeleteLink($newFormLi);
        }


        // Fonction qui permet la création d'un lien : Suppression de la localisation et l'ajout de celui-ci à la balise passée en argument
        function addLocaliseFormDeleteLink($localiseFormLi) {
            var $removeFormA = $('<a href="#" class="red">Supprimer la localisation</a>');
            $localiseFormLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
                // Empêche le lien de crée un # dans l'URL
                e.preventDefault();
                // Supprime l'élément li pour le formulaire
                $localiseFormLi.remove();
            });
        }

		function selectionBoutonsActions($bouton, $typeMenu) {
			if (($typeMenu == "principal") || ($bouton == "ajoutSite") || ($bouton == "annuler")) {
				$('div.actions_creerSite').toggleClass("cacher");
				$('div.actions_retour').toggleClass("cacher");
				$('div.actions_annuler').toggleClass("cacher");
			}
			switch($bouton) {
				case "ajoutSite":
					$('div.actions_newSite').removeClass("cacher");
					break;
				case "modifSite":
					$('div.actions_ajoutLoc').removeClass("cacher");
					$('div.actions_modifSite').removeClass("cacher");
					break;
				case "ajoutLoc":
					$('div.actions_creerLoc').removeClass("cacher");
					break;
				case "modifLoc":
					$('div.actions_modifLoc').removeClass("cacher");
                    break;
				case "suppLoc":
					$('div.actions_suppLoc').removeClass("cacher");
					break;
				case "suppSite":
					$('div.actions_suppSite').removeClass("cacher");
                    break;
				case "annuler":
					switch ($boutonSelection) {
						case "modifSite":
							$('div.actions_modifSite').addClass("cacher");
                    		$('div.actions_ajoutLoc').addClass("cacher");
							break;
						case "ajoutLoc":
							$('div.actions_creerLoc').addClass("cacher");
							break;
						case "modifLoc":
							$('div.actions_modifLoc').addClass("cacher");
                    		break;
						case "suppLoc":
							$('div.actions_suppLoc').addClass("cacher");
							break;
						case "suppSite":
                            $('div.actions_suppSite').addClass("cacher");
                            break;
					}
					break;
					
			}
			$boutonSelection = $bouton;
		}
</script>
{% endblock bodyjavascript %}
