{% block popup %}
	<div id='messageValidation' class='cacher'>
	</div>
	<div id='ajout_requete_perso'>
		<h1>{{ 'label.popup.titre.ajout_requete_personnelle'|trans|upper }}</h1>

		<input type="hidden" name="choixPage_requetePerso" id="choixPage_requetePerso" />

    	<div id='compteRequetePerso'>
    	    {{ 'checkbox.requetes_client'|trans() }} <input type='checkbox' name='chkRequeteClient' id='chkRequeteClient' />
    	</div>

    	<div id='ajoutRequete'>
			<input type='text' class='inputText' name='intituleRequetePerso' id='intituleRequetePerso' placeholder="{{ 'label.popup.textbox.intitule_requete'|trans }}" />
    	</div>

		<div class='validationPopupRequete'>
			<div class='bouton blue'><div class='bgbouton' onClick="saveRequest();">{{ 'bouton.popup.valider'|trans|upper }}</div></div>
			<div class='bouton red'><div class='bgbouton' onClick="closeRequest();">{{ 'bouton.popup.fermer'|trans|upper }}</div></div>
		</div>
	</div>
{% endblock popup %}
