{# src/Ipc/OutilsBundle/Resources/views/Outils/importErrorDonnees.html.twig #}

{% extends 'IpcOutilsBundle::secondLayout.html.twig' %}

{% block title %}{{ parent() }}Gestion des données erronées{% endblock title %}

{% block title_header %}
    <h1>Gestion des données erronées</h1>
{% endblock title_header %}

{% block body %}
	{{ parent() }}

		<p>Nombre de données en erreurs : {{ nb_error }}</p>
		<p>Liste des fichiers : page {{ page }}</p>
        {% if nb_error != 0 %}
	    	<form method='post' name="MyForm" id="MyForm"  action={{ path('ipc_import_errorsdonnees') }}>
				<input type='hidden' name='nb_error' value='{{ nb_error }}' />
				<input type='hidden' name='choixSubmit' id='_submit' />
				<input type='hidden' name='page' value="{{ page }}" />
				<div class='table_multi_col'>
			    	<div class='col_chevron'>
			      		{% if page > 1 %}
			           		<a href='#' style="height:10px;" onClick="validationFormulaire('PrevPage');return false;" >
								<div class='bouton'><div class='bgbouton'><img src="{{ asset('images/icones/prev_page.png') }}"/></div></div>
							</a>
			       		{% else %}
			    			<a href='#' style="height:10px;" onClick="return false;" >
								<div class='bouton'><div class='bgbouton'><img src="{{ asset('images/icones/prev_page.png') }}"/></div></div>
							</a>
			       		{% endif %}
					</div>
					<div>
						<table>
						<tr>
                        <td>
                            <select name="FileList[]" size="4" class='select_multiple' multiple>
                                {% for key, liste_erreurs in liste_fichiers %}
                                    {% set nboccurences = loop.index %}
                                    {% for key2,erreur in liste_erreurs %}
                                        {% if (nboccurences == 1) and (loop.index == 1) %}
                                            <option value="{{ key }};{{ erreur }}" selected>{{ key }} ; {{ erreur }}</option>
                                        {% else %}
                                            <option value="{{ key }};{{ erreur }}">{{ key }} ; {{ erreur }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </td>
						</tr>
						</table>
					</div>
			   		<div class='col_chevron'>
			       		{% if liste_fichiers|length != 0 %}
			    			<a href='#' style="height:10px;" onClick="validationFormulaire('NextPage');return false;" >
								<div class='bouton'><div class='bgbouton'><img src="{{ asset('images/icones/next_page.png') }}"/></div></div>
							</a>
			       		{% else %}
			    			<a href='#' style="height:10px;" onClick="return false;" disabled >
								<div class='bouton'><div class='bgbouton'><img src="{{ asset('images/icones/next_page.png') }}"/></div></div>
							</a>
			       		{% endif %}
					</div>
				</div>
	    	</form>
		{% else %}
		    <p><span style='color:green;'>Aucune erreur n'est à signaler</span></p>	
		{% endif %}
		{% if texte_log != "" %}
		    <div class='infos'>
				<div class='texte_infos'>{{ texte_log }}</div>
			</div>
		{% endif %}
{% endblock body %}

{% block menu_droite %}
	<div id='validation'>
    	{% if liste_fichiers|length != 0 %}
			<div>
                <a href='#' onClick="validationFormulaire('Supprimer');return false;" >
					<div class='bouton red'><div class='bgbouton'>Suppression des données</div></div>
				</a>
			</div>
			<div>
                <a href='#' onClick="validationFormulaire('PurgeDD');return false;" >
					<div class='bouton red'><div class='bgbouton'>Purge des doublons</div></div>
				</a>
			</div>
            <div>
                <a href='#' onClick="validationFormulaire('DetailsE');return false;" >
					<div class='bouton blue'><div class='bgbouton'>Détails des erreurs</div></div>
				</a>
			</div>
            <div>
                <a href='#' onClick="validationFormulaire('DetailsI');return false;" >
					<div class='bouton blue'><div class='bgbouton'>Détails de l'importation</div></div>
				</a>
			</div>
            <div>
                <a href='#' onClick="validationFormulaire('Valider');return false;" >
					<div class='bouton green'><div class='bgbouton'>Réimport des données</div></div>
				</a>
			</div>
			<div>
				<a href='#' class='right' onClick="goBack();return false;" >
					<div class='bouton orange'><div class='bgbouton'>{{ "bouton.retour"|trans|upper }}</div></div>
				</a>
            </div>
       {% endif %}
    </div>
{% endblock menu_droite %}

{% block bodyjavascript %}
    {{ parent() }}

    <script type='text/javascript'>
        function goBack() {
            var url_intervention = $('#Outils').attr('href');
            window.location.href = url_intervention;
        }

		function validationFormulaire(choix) {
		    attente();
		    setTimeout(function() {
		        $('#_submit').val(choix);
		    	$('#MyForm').submit();
		    }, 100);
		}
    </script>
{% endblock %}

