{# /src/Ipc/ConfigurationBundle/Resources/views/Configuration/FormulairesLive/formCombustible.html.twig #}
{% extends "IpcConfigurationBundle::secondLayout.html.twig" %}

{% block title %}{{ parent() }}Live{% endblock title %}

{% block body %}
	{{ parent() }}

	<div id='formulaireEntete'>
	    <h1>Formulaire : Combustible</h1>
	    {{ form_start(form, {'method':'POST', 'action':path('addFormCombustible')}) }}
		Chaudière Bifoyer <input type='checkbox' name='biFoyer' id='chkBiFoyer' onclick='bifoyer();' />
		<table>
			<tr><td>{{ form_label(form.label) }}</td><td>{{ form_widget(form.label,{'attr':{'class':'label inputText'}}) }}</td><td>{{ form_errors(form.label) }}</td></tr>
			<tr><td>{{ form_label(form.adCombustibleBruleur1) }}</td><td>{{ form_widget(form.adCombustibleBruleur1,{'attr':{'class':'inputText'}}) }}</td><td>{{ form_errors(form.adCombustibleBruleur1) }}</td></tr>
		</table>
		<div id='secondFoyer' class='nonVisible'>
			Deuxième Foyer
			<table>
        	    <tr><td>{{ form_label(form.label2) }}</td><td>{{ form_widget(form.label2,{'attr':{'class':'label inputText'}}) }}</td><td>{{ form_errors(form.label2) }}</td></tr>
        	    <tr><td>{{ form_label(form.adCombustibleBruleur2) }}</td><td>{{ form_widget(form.adCombustibleBruleur2,{'attr':{'class':'inputText'}}) }}</td><td>{{ form_errors(form.adCombustibleBruleur2) }}</td></tr>
        	</table>
		</div>
		{{ form_widget(form.idLocalisation) }}
		{{ form_widget(form.enregistrer,{'attr':{'class':'widgetValidation'}}) }}
    	{{ form_end(form) }}

    	<div class='validationbouton'>
    	    <div class='center'>
    	        <a href='#' style="height:30px;" onClick='annuler("{{ path('ipc_add_donnee_live') }}");return false;'><div class='bouton blue'><div class='bgbouton'>Retour</div></div></a>
    	    </div>
    	</div>
	</div>
{% endblock body %}

{% block bodyjavascript %}
	{{ parent() }}

	<script type='text/javascript'>
    	$('document').ready(function() {
			$('#chkBiFoyer').prop('checked',false);
    	});

    	function bifoyer() {
			$('#secondFoyer').toggleClass('nonVisible');
    	}

    	function annuler(url) {
        	attente();
        	window.location.href = url;
    	}
	</script>
{% endblock bodyjavascript %}
