{# /src/Ipc/ListingBundle/Resources/views/Listing/listing.html.twig #}

{% extends 'IpcListingBundle::secondLayout.html.twig' %}

{% block title %}{{ parent() }}Affichage{% endblock title %}

{% block title_header %}
	<span id="pageListingView" class="cacher"></span>
	<h1 class='notToBePrinted'>{{ 'label.titre.listing'|trans }}
		{# Affichage du bouton d'impression si l'autorisation est accordée #}
	</h1>
	<div id="regRequest">
        {% if impression_listing == 1 %}
            <div id="boutontitre" class='notToBePrinted'>
                <form name='myForm2' method='get' action="{{ path('ipc_listing') }}">
                    <input type='hidden' id='nombre_requetes' name='nombre_requetes' value='{{ liste_req_pour_listing|length }}' />
                    <ul>
                        {% if activation_modbus == 1 %}
                            <li><a href='#' class='right' onClick="$('#refresh_listing').val('refresh');refresh('myForm');return false;" >
                                <div class='boutonTitreRefresh'><img src="{{ asset('bundles/ipcgraphique/images/maj.png') }}" alt='maj' /></div>
                                <span>{{ 'label.info.rafraichissement'|trans }}</span></a>
                            </li>
                        {% endif %}<!--
                        --><li><a href="{{ path('ipc_accueilListing') }}" title='Listing' onClick='actionMenu(this.href,this.title); return false;'>
                                <div class='boutonTitreEdition'><img src="{{ asset('bundles/ipcgraphique/images/modification.png') }}" alt='modification' /></div>
                                <span>{{ 'label.info.modification.listing'|trans }}</span></a>
                            </li><!--
                        --><li><a href="#" onClick="newTitle('Listing'); impression(); return false;">
                                <div class='boutonTitrePrint'><img src="{{ asset('bundles/ipcgraphique/images/impression.png') }}" alt='impression' /></div>
                                <span>{{ 'label.info.impression'|trans }}</span></a>
                        </li><!--
                        --><li>
                            <a href="#"><div class='boutonTitreDownload'><img src="{{ asset('bundles/ipcgraphique/images/exportation.png') }}" alt='exportation' /></div></a>
                            <ul class='niveau2'>
                                <li><a href="#" onClick="imprimeCsv('yesCsv', 'myForm'); return false;">{{ 'label.info.export_csv'|trans }}</a></li>
                                <li><a href="#" onClick="imprimeCsv('yesPCsv', 'myForm'); return false;">{{ 'label.info.export_page_csv'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
        {% endif %}

		{% if tabDesRequetes|length > 0 %}
			<div id='resultatDebut'>
				<div class='notToBePrinted Pleft'>
					Page :
					<div class='navigation'>
						<a href='#' class='prevPages' onclick="defineNumPage('first','none');return false;"><<</a>
						<a href='#' class='prevPages' onclick="defineNumPage('prev','none');return false;"><</a>
						<input type='text' id='numpage_top' size='4' onChange="defineNumPage('num','top');" value="{{ page }}" /> / {{ maxpages }}
						<a href='#' class='nextPages' onclick="defineNumPage('next','none');return false;">></a>
						<a href='#' class='nextPages' onclick="defineNumPage('last','none');return false;">>></a>
					</div>
				</div><!--
				--><div class='Pright'>{{ 'label.titre.listing'|trans }} {{ page }} / {{ maxpages }} ( {{ nbDonneesTotal }} {{ 'label.donnee'|transchoice(nbDonneesTotal) }} )</div>
			</div>
		{% endif %}
	</div>
{% endblock title_header %}

{% block body %}
	<div id='listingmessage'>
		<form name="myForm" method="get" action="{{ path('ipc_listing') }}" onSubmit="attente()" >
			{% if tempMax %}
				<p>{{ 'label.requete_timeout'|trans }}</p>
			{% else %}
				<!- variable indiquant qu'un refresh est effectué -->
				<input type='hidden' id='refresh_listing' name='refresh_listing' value='' />
				<input type='hidden' name='impression' value='yes' id='impression' />
				<div id='listingDeDonnees'>
					<table>
						<thead>
							{% if tabDesRequetes|length > 0 %}
								<tr>
									<th class="genre" onClick="trieDonnees('genre');">{{ 'label.genre'|trans }}</th>
									<th class="localisation" onClick="trieDonnees('localisation');">{{ 'label.localisation'|trans }}</th>
									<th class="code"         onClick="trieDonnees('code');">{{ 'label.code_message'|trans }}</th>
									<th class="designation"  onClick="trieDonnees('designation');" >{{ 'label.designation'|trans }}</th>
									<th class="horodatage"   onClick="trieDonnees('horodatage');" >{{ 'label.horodatage'|trans }}</th>
									<th class="valeurs" ><span onClick="trieDonnees('valeur1');" >{{ 'label.valeur1'|trans }}</span> / <span onClick="trieDonnees('valeur2');" >{{ 'label.valeur2'|trans }}</span></th>
								</tr>
							{% else %}
								{% if page == 0 %}
									<h1>{{ 'label.titre.pas_de_donnee'|trans }}</h1>
								{% else %}
									{% if messageErreur != '' %}
										<h1>{{ messageErreur }}.</h1>
									{% else %}
										<h1>{{ 'label.titre.page_inexistante'|trans({'%page%':page}) }}.</h1>
									{% endif %}
								{% endif %}
							{% endif %}
						</thead>

						<tbody>
							{% for donnee in tabDesRequetes %}
								<tr>
									<td class="genre">
										{% if donnee['numero_genre'] == 1 %}
											<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_critique.png') }}" alt='critique' />
										{% endif %}	
										{% if donnee['numero_genre'] == 2 %}
											<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_alarme.png') }}" alt='alarme' /></div>
										{% endif %}
										{% if donnee['numero_genre'] == 3 %}
											<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_evenement.png') }}" alt='événement' /></div>
                                        {% endif %}
										{% if donnee['numero_genre'] == 4 %}
											<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_commande.png') }}" alt='commande' /></div>
                                        {% endif %}
										{% if donnee['numero_genre'] == 5 %}
											<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_analogique.png') }}" alt='analogique' /></div>
                                        {% endif %}
										{% if donnee['numero_genre'] == 6 %}
											<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_parametre.png') }}" alt='parametre' /></div>
                                        {% endif %}
										<!--  Si le numéro de la donnée est composée de 3 chiffres on récupère et indiquons le dernier digit -->
										{% if donnee['numero_genre']|length == 3 %}
											{% if ( donnee['numero_genre'] >= 100 ) and ( donnee['numero_genre'] <= 114 ) %}
												<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_critique.png') }}" alt='critique' /></div>
											{% endif %}
											<!-- Défaut   Non acquittable -->
											{% if ( donnee['numero_genre'] >= 115 ) and ( donnee['numero_genre'] <= 119 ) %}
												<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_critique.png') }}" alt='critique' /></div>
											{% endif %}
											<!-- Alarme   Acquittable -->
											{% if ( donnee['numero_genre'] >= 120 ) and ( donnee['numero_genre'] <= 124 ) %}
												<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_critique.png') }}" alt='critique' /></div>
											{% endif %}
											<!-- Alarme   Non acquittable -->
											{% if ( donnee['numero_genre'] >= 125 ) and ( donnee['numero_genre'] <= 129 ) %}
												<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_alarme.png') }}" alt='alarme' /></div>
											{% endif %}
											<!-- Evènement        Acquittable -->
											{% if ( donnee['numero_genre'] >= 130 ) and ( donnee['numero_genre'] <= 134 ) %}
												<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_evenement.png') }}" alt='événement' /></div>
											{% endif %}
											<!-- Evènement        Non acquittable -->
											{% if ( donnee['numero_genre'] >= 135 ) and ( donnee['numero_genre'] <= 139 ) %}
												<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_evenement.png') }}" alt='événement' /></div>
											{% endif %}
											<div class='indice'>{{ donnee['numero_genre']|striptags|slice(2,1) }}</div>
										{% endif %}
									</td>
									<td class="localisation"><div class="txtlocalisation">{{ donnee['numero_localisation'] }}</div></td>
									<td class="code">{{ donnee['codeModule'] }}</td>
									<td class="designation">
										<strong>
											{% if donnee['erreur'] is defined %}
												<span style='color:red;'>{{ donnee['erreur'] | trans }}</span><br />
											{% endif %}
											{{ donnee['intitule_module'] | trim | trans }}
										</strong>
										<br  />
										{% if ((donnee['numero_genre'] == 1) or (donnee['numero_genre'] == 2) or (donnee['numero_genre'] >= 100 and donnee['numero_genre'] <= 139)) %}
											{% if donnee['valeur1'] == 0 %}
												{% if '$' in donnee['message'] %}
													<span style='color:green;'>
												{% endif %}
												{{ donnee['message'] | trans | replace({'$':tabIndicationValeur[0],'£':donnee['valeur2']}) }}
                                                {% if '$' in donnee['message'] %}
                                                    </span>
                                                {% endif %}
											{% elseif donnee['valeur1'] == 1 %}
                                                {% if '$' in donnee['message'] %}
                                                    <span style='color:red;'>
                                                {% endif %}
												{{ donnee['message'] | trans | replace({'$':tabIndicationValeur[1],'£':donnee['valeur2']}) }}
                                                {% if '$' in donnee['message'] %}
                                                    </span>
                                                {% endif %}
											{% endif %}
										{% else %}
											{{ donnee['message'] | trans | replace({'$':donnee['valeur1'],'£':donnee['valeur2']}) }}
										{% endif %}
									</td>
									<td class="horodatage"><div class="date">{{ donnee['horodatage'] | date("d/m/Y") }}</div><div class="heure">{{ donnee['horodatage'] | date("H:i:s") }}.{{ donnee['cycle'] }}</div></td>
									<td class="valeurs"><div class="valeur1">{{ donnee['valeur1'] }}</div><div class="valeur2">{{ donnee['valeur2'] }}</div></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<input type="hidden" name="pages"  		value="{{ page }}" id="pages" />
				<input type="hidden" name="listing"		value="listing" id="listing" />
			{% endif %}
		</form>
	</div>
	<input type='hidden' name='indicateurVal0' id='indicateurVal0' value='{{ tabIndicationValeur[0] }}' />
	<input type='hidden' name='indicateurVal1' id='indicateurVal1' value='{{ tabIndicationValeur[1] }}' />
	<input type='hidden' name='maxPages' id='maxPages' value='{{ maxpages }}' />
	<input type='hidden' name='pageCourante' id='pageCourante' value='{{ page }}' />
{% endblock body %}

{% block footer %}
	<div id="legende">
		<div id='legende_zone_requete'>
			<span class='titre'>{{ 'label.legende.requetes'|trans }} : </span>
			<div class='legende_zone_infos'>
				<ul>
					{% if liste_req_pour_listing | length == 1 %}
						{% for requete in liste_req_pour_listing %}
							<li>> {{ requete['Texte']|raw }}</li>
						{% endfor %}
						<br />
					{% else %}
						{% for requete in liste_req_pour_listing %}
							{% if loop.index == 1 %}
								<li>>{{ requete['Texte']|raw }}</li>
							{% else %}
								<li class='block'>>{{ requete['Texte']|raw }}</li>
							{% endif %}
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
		<div id='legende_zone_localisation'>
			<span class='titre'>{{ 'label.legende.localisations'|trans }} : </span>
			<div class='legende_zone_infos'>
				<ul>
					{% for key,localisation in liste_localisations %}
						<li>{{ localisation.numero_localisation }} : {{ localisation.designation | trans }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div id='legende_zone_genre'>
			<span class='titre'>{{ 'label.legende.genres'|trans }} : </span>
			<div class='legende_zone_infos'>
				<ul>
					{% for key,genre in liste_genres %}
						{% if genre['numero_genre']|length == 3 %}
							<li>
								{# Défaut	Acquittable #}
								{% if ( genre['numero_genre'] >= 100 ) and ( genre['numero_genre'] <= 114 ) %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_critique.png') }}" alt='critique' /></div>
								{% endif %}
								{# Défaut	Non acquittable #}
								{% if ( genre['numero_genre'] >= 115 ) and ( genre['numero_genre'] <= 119 ) %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_critique.png') }}" alt='critique' /></div>
								{% endif %}
								{# Alarme	Acquittable #}
								{% if ( genre['numero_genre'] >= 120 ) and ( genre['numero_genre'] <= 124 ) %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_alarme.png') }}" alt='alarme' /></div>
								{% endif %}
								{# Alarme	Non acquittable #}
								{% if ( genre['numero_genre'] >= 125 ) and ( genre['numero_genre'] <= 129 ) %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_alarme.png') }}" alt='alarme' /></div>
								{% endif %}
								{# Evènement	Acquittable #}
								{% if ( genre['numero_genre'] >= 130 ) and ( genre['numero_genre'] <= 134 ) %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_evenement.png') }}" alt='evenement' /></div>
								{% endif %}
								{# Evènement	Non acquittable #}
								{% if ( genre['numero_genre'] >= 135 ) and ( genre['numero_genre'] <= 139 ) %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_evenement.png') }}" alt='evenement' /></div>
								{% endif %}
								<div class='indice'>{{ genre['numero_genre']|striptags|slice(2,1) }}</div>{{ genre['intitule_genre'] }}
							</li>
						{% else %}
							<li>
								{% if genre['numero_genre'] == 1 %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_critique.png') }}" alt='critique' /></div>
								{% elseif genre['numero_genre'] == 2 %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_alarme.png') }}" alt='alarme' /></div>
								{% elseif genre['numero_genre'] == 3 %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_evenement.png') }}" alt='evenement' /></div>
								{% elseif genre['numero_genre'] == 4 %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_commande.png') }}" alt='commande' /></div>
								{% elseif genre['numero_genre'] == 5 %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_analogique.png') }}" alt='analogique' /></div>
								{% elseif genre['numero_genre'] == 6 %}
									<div class='genrebox'><img src="{{ asset('bundles/ipcprog/images/ipcWeb/genre_parametre.png') }}" alt='parametre' /></div>
								{% endif %}
								<div class='indice'></div>
								{{ genre['intitule_genre'] }}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock footer %}

{% block progJavascript %}
{% endblock progJavascript %}


{% block bodyjavascript %}
	{% javascripts output='js/listing.js'
		'bundles/ipclisting/js/listing.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	 <script type='text/javascript'>
		/* Simulation sur click de la vue Restreinte */
		$('#vueRestreinte').click();

        $(document).ready(function() {
            /* Récupération de l'heure de la dernière donnée enregistrée en base */
            var $urlGetLastData = $('#datas').attr('data-urlGetLastData');
            $.ajax({
                url: $urlGetLastData,
                method: 'post'
            })
            .done(function($message, $status) {
                $('#message_last_data').html($message);
            })
            .fail(function($xhr, $status, $error) {
                alert('Non récupéré');
            });
            /**********************************/
        });
    </script>
{% endblock bodyjavascript %}
