{# /src/Ipc/ListingBundle/Resources/views/Graphique/index.html.twig #}

{% extends 'IpcGraphiqueBundle::secondLayout.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock title %}

{% block title_header %}
    <h1 class='grandScreen'>{{ 'label.titre.courbe' | trans }}</h1>
    {# Permet d'indiquer que la page est chargée : permet de vérifier le chargement js spécifique à cette page #}
    <span id="pageGraphiqueIndex" class="cacher"></span>
    <div id="regRequest">
        <select id='selectRegPerso' name='selectRegPerso' data-url="{{ path('ipc_selectRequest', {'page':'graphique'}) }}" onChange="selectRequest();" >
            <option disabled selected style='color:blue'>{% if compte_requete_perso|lower == 'client' %}{{ 'select.requetes_client.titre.graphique'|trans }} {% else %}{{ 'select.requetes_perso.titre.graphique'|trans }}{% endif %}</option>
            {% for key,requeteValue in tab_requetes_perso %}
                <option value="{{ requeteValue }}">{{ requeteValue }}</option>
            {% endfor %}
        </select>

        {% if is_granted('ROLE_TECHNICIEN') %}
            {{ 'checkbox.requetes_client'|trans }}<input type='checkbox' id='requeteClient' name='requeteClient' onClick="addCompteRequest('graphique');" {% if compte_requete_perso|lower == 'client' %} checked {% endif %} /><br />
            <input type='button' id='checkSaveRequest' name='enregistrementRequete' value="{{ 'bouton.requetes_client.enregistrement'|trans }}" onClick="creerRequetePerso('graphique');" />
            <input type='button' id='deleteSaveRequest' name='suppressionRequete' data-url="{{ path('ipc_deleteRequest', {'page':'graphique'}) }}" value="{{ 'bouton.requetes_client.suppression'|trans }}" onClick="supprimeRequetePerso('graphique');" />
        {% endif %}
    </div>
{% endblock title_header %}

{% block body %}
    <div id='graphiqueperso'>
       	<div class='requetemessage'>
        	<table>
            	<thead>
                	<tr>
                    	<th class="localisation">{{ 'label.localisation'|trans }}</th>
                    	<th class="code">{{ 'label.code_message'|trans }}</th>
                    	<th class="designation">{{ 'label.designation'|trans }}</th>
                    	{% if is_granted('ROLE_TECHNICIEN') %}<th class="actions">{{ 'label.action'|trans }}</th>{% endif %}
                	</tr>
            	</thead>
            	<tbody>
            	    {% if liste_req is defined %}
            	        {% if liste_req | length != 0 %}
            		    	{% for donnee in tab_requetes %}
            	        	    <tr>
            		            	<td class="localisation"><div class="txtlocalisation">{{ donnee['localisation'] }}</div></td>
                		        	<td class="code">{{ donnee['code'] }}</td>
                    		    	<td class="designation">{{ donnee['message'] }}</td>
									{% if is_granted('ROLE_TECHNICIEN') %}	
										<td class="actions">
				    						<a class="bouton" href="{{ path('ipc_graphiques') }}" target='_blank' name="modRequete_{{ donnee['numrequete'] }}" onClick="declanchementUpdateAjaxForm(1,'ipc_graphiques','graphique',this.name,{{ loop.index0 }},'modificationRequete'); return false;" >
                                    		    <div class="bouton editer"></div>
                                    		    <div class="boutonname">{{ "bouton.editer_requete"|trans|upper }}</div>
                                    		</a>
                                    		<a class="bouton" href="#" target='_blank' name="suppRequete_{{ donnee['numrequete'] }}" onClick="declanchementDeleteAjaxForm(1,'graphique',this.name,'suppressionRequete'); return false;">
    	                                	    <div class="bouton supprimer"></div>
    	                                	    <div class="boutonname">{{ "bouton.supprimer_requete"|trans|upper }}</div>
    	                                	</a>
										</td>
									{% endif %}
                            	</tr>
                			{% endfor %}
                    	{% endif %}
                	{% endif %}
					{% if is_granted('ROLE_TECHNICIEN') %}
                		<tr>
                    		<td colspan="3" class="texte">{{ "label.ajout_courbe"|trans }}</td>
                    		<td class="actions">
                    		   	<a class='bouton' href="{{ path('ipc_graphiques') }}" target='_blank' onClick="appelPopup('ipc_graphiques','Sélection des requêtes graphiques'); return false;">
                    		   	   <div class="bouton ajouter"></div>
                    		   	   <div class="boutonname">{{ "bouton.ajouter_requete"|trans|upper }}</div>
                    		   	</a>
                    		</td>
                		</tr>
					{% endif %}
                	<input type='hidden' id='nombre_requetes' name='nombre_requetes' value='{{ tab_requetes|length }}' >
            	</tbody>
        	</table>
        </div>
    </div>
    <input type="hidden" name="tabloRequete" id="tabloRequete" value="{{ strTab_requetes }}" />
{% endblock body %}

{% block choix_validation %}
    <form name='myForm2' method='post' action="{{ path('ipc_graphAnalyse') }}">
        <input type="hidden" name="choixSubmit" id="choixSubmit" />

        <div id='validation'>
            <a href='#' class='right' onClick="document.getElementById('choixSubmit').value='Recherche'; validationPopup('myForm2'); return false;" ><div class='bouton blue'><div class='bgbouton'>{{ "bouton.rechercher"|trans|upper }}</div></div></a>
            {% if is_granted('ROLE_TECHNICIEN') %}
                <a href='#' class='right' onClick="document.getElementById('choixSubmit').value='RAZ';resetAjaxForm('graphique');return false;" ><div class='bouton orange'><div class='bgbouton'>{{ "bouton.raz"|trans|upper }}</div></div></a>
            {% endif %}
        </div>
    </form>
{% endblock choix_validation %}



{% block popup_small %}
    {% include 'IpcConfigurationBundle:Configuration:popupNouvelleRequetePerso.html.twig' %}
{% endblock popup_small %}


{% block progJavascript %}
	{{ parent() }}
{% endblock progJavascript %}


{% block bodyjavascript %}
    {# Fonctions et variables communes aux index listing et graphique #}
    {% javascripts output='js/listingAndGraphiqueCommun.js' filter='jsqueeze'
        'bundles/ipcprog/js/listingAndGraphiqueCommun.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {#<script type="text/javascript" src="{{ asset('bundles/ipcprog/js/listingAndGraphiqueCommun.js') }}"></script>#}


    <script type='text/javascript'>
		$('page').addClass('noLeftMenus');
    	$(document).ready(function() {
			preparePopup('ipc_graphiques');
			ajaxSetChoixLocalisation();

	        /* Récupération de l'heure de la dernière donnée enregistrée en base */
	        var $urlGetLastData = $('#datas').attr('data-urlGetLastData');
	        $.ajax({
	            url: $urlGetLastData,
	            method: 'post'
	        })
	        .done(function($message, $status) {
	            $('#message_last_data').html($message);
	        })
	        .fail(function($xhr, $status, $error) {
	            alert('Non récupéré');
	        });
	        /**********************************/

    	});
    </script>
{% endblock bodyjavascript %}

